<!--The content below is only a placeholder and can be replaced.-->

<router-outlet></router-outlet>
<br /><br />
<div class="container">
  <div class="row">
    <!-- div 1 -->
    <div class="col-md-4">
      <div class="alert alert-success text-center">
        Orders Now
      </div>
      <router-outlet name="divOne"></router-outlet>
    </div>
    <!-- div 2 -->
    <div class="col-md-4">
      <div class="alert alert-success text-center">
        Products
      </div>
      <router-outlet name="divTwo"></router-outlet>
    </div>
    <!-- div 3 -->
    <div class="col-md-4">
      <div class="alert alert-success text-center">
        Check Out
      </div>
      <router-outlet name="divThree"></router-outlet>
    </div>
  </div>
</div>
